.contactPage {
  background: url("../assets/contact-background.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 50vh;
  padding: 20px;
  color: #fff;
  text-align: center;

  .content {
    padding: 20px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #b11b1a;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  /* Contact Section */
  .contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .contactGroup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  /* Icons - Ensure uniform size for phone and Instagram */
  .phoneIcon,
  .instagramIcon img {
    width: 40px;
    height: 40px; /* Match size of both icons */
    margin-right: 10px;
  }

  .contactItem {
    font-size: 1.2rem;
    color: #1e88e5;
    text-decoration: none;
  }

  .socialMedia {
    width: 100%; /* Full width for the container */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-top: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #1e88e5; /* Change text color */
      font-size: 1.2rem;
    }

    .instagramIcon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .balonPartyText {
      font-size: 1.2rem;
    }
  }

  .qrCodeContainer {
    margin-top: 0;
    padding-bottom: 10px;
  }

  .qrCode {
    width: 650px;
    height: auto;
  }

  /* Media Queries for Responsiveness */
  @media (max-width: 1024px) {
    /* Tablet */
    h1 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.5rem;
    }

    .contactGroup {
      flex-direction: column;
      align-items: center;
    }

    .phoneIcon,
    .instagramIcon img {
      width: 35px;
      height: 35px;
    }

    .contactItem {
      font-size: 1.1rem;
    }

    .qrCode {
      width: 500px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }

    .contactGroup {
      flex-direction: column;
      align-items: center;
    }

    .phoneIcon,
    .instagramIcon img {
      width: 30px;
      height: 30px;
    }

    .contactItem {
      font-size: 1rem;
    }

    .socialMedia {
      flex-direction: column;
      width: 100%; /* Full width for mobile */
      margin-top: 0.5rem;
      .balonPartyText {
        font-size: 1rem;
      }
    }

    .qrCodeContainer {
      margin-top: 0.5rem;
      padding-bottom: 0;
    }

    .qrCode {
      width: 300px;
    }
  }
}
