.gallery-container {
  padding: 20px;

  .gallery-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #2684be;
    font-family: cursive;
  }

  .gallery-grid {
    display: grid;
    gap: 16px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr);
      .gallery-image {
        filter: grayscale(
          0%
        ) !important; /* Ensure images are in color on mobile */
      }
    }
  }

  .gallery-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .gallery-image {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: opacity 0.3s ease, filter 0.3s ease; /* Add transition for filter */
      cursor: pointer;
      filter: grayscale(100%); /* Make the image black-and-white by default */
    }

    &:hover .gallery-image {
      filter: grayscale(0%); /* Remove grayscale (color the image) on hover */
    }

    .image-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      text-align: center;
      padding: 8px;
      opacity: 0;
      transition: opacity 0.3s ease;

      .image-title {
        font-size: 1rem;
      }
    }

    &:hover .image-overlay {
      opacity: 1;
    }
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }

  .lightbox-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
    object-fit: contain;
  }
}
