.about {
  display: flex; /* Use flexbox for layout */
  align-items: center;
  justify-content: space-between; /* Distribute space between text and image */
  padding: 2rem;
  margin-top: -30px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Light background for the section */
  color: #333;
  text-align: left;

  .textContainer {
    flex: 1; /* Let text take up remaining space */
    margin-right: 20px; /* Space between text and image */
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-indent: 20px;
    text-align: center;
  }

  p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-indent: 20px;
  }

  .imageContainer {
    flex: 1; /* Let image take up space on the right */
    max-width: 45%; /* Limit the width of the image container */
  }

  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .priceListLink {
    margin-top: 1rem;
    text-align: center;

    a {
      font-size: 1.8rem;
      color: #b11b1a;
      text-decoration: none;
      display: inline-flex;
      align-items: center;

      &:hover {
        color: #8b0000;
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Stack text and image on top of each other for smaller screens */
    .imageContainer {
      max-width: 100%;
      margin-top: 20px; /* Space between text and image */
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
