/* styles for Header.module.scss */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: transparent;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 180px;
}

.nav {
  display: flex;
  gap: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  transition: padding-right 0.3s ease, gap 0.3s ease;
}

.hamburger {
  display: none; /* Initially hidden */
  font-size: 3rem;
  cursor: pointer;
  color: #333;
}

/* Show Hamburger on Mobile */
@media (max-width: 800px) {
  .hamburger {
    display: block; /* Show hamburger icon on small screens */
    padding-right: 3rem;
  }

  .nav {
    display: none; /* Hide navigation links on mobile */
  }
}
