/* Header Styling */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: transparent;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 180px;
}

.nav {
  display: flex;
  gap: 6rem; /* Initial gap */
  padding-right: 3rem; /* Initial padding */
  padding-top: 1rem; /* Initial padding */
  transition: padding-right 0.3s ease, gap 0.3s ease;
}

.navLink {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 170px;
  background-image: url("../assets/one-ballon-background-removebg-preview.png");
  background-size: cover;
  background-position: center;
  color: #2584be;
  text-align: center;
  line-height: 95px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navLink:hover {
  transform: scale(1.05); /* Slightly enlarge on hover for effect */
}

/* Mobile Styles */
@media (max-width: 1024px) {
  .header {
    padding: 0.75rem 1.5rem;
  }

  .nav {
    gap: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
  }

  .navLink {
    font-size: 0.9rem; /* Smaller font size for tablets */
  }
}

@media (max-width: 800px) {
  .nav {
    display: none; /* Hide navigation links on mobile */
  }

  .logo {
    height: 100px;
  }

  .header {
    padding: 0.5rem 1rem;
  }

  /* Show the hamburger menu on mobile */
  .hamburger {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    color: #333;
    padding-right: 3rem;
  }
}

/* Backdrop Overlay */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
  z-index: 5;
  display: none; /* Initially hidden */
}

/* Mobile Navigation Menu */
.navOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px; /* Adjust this based on header height */
  right: 0;
  background-color: #f8f9fa;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navOpen .navLink {
  margin: 10px 0; /* Vertical spacing */
  padding: 0.5rem 0;
  font-size: 1.2rem; /* Larger font size for mobile */
  border-bottom: 1px solid #ddd;
  text-align: center;
}
