.wrapper {
  background: url("../assets/about-background.webp") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
}

.wrapperNoHeader {
  padding-top: 20px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: none;
}

/* Tablet */
@media (max-width: 1024px) {
  .wrapper {
    padding-top: 160px;
  }
}

/* Mobile */
@media (max-width: 800px) {
  .wrapper {
    padding-top: 80px;
  }

  .wrapperNoHeader {
    padding-top: 20px;
  }
}